.center {
  flex-direction: column;
  height: 100%;
  gap: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-wrapper {
  display: block;
  width: 40%;
  max-width: 300px;
}

.form-wrapper h2 {
  margin-bottom: 0.6rem;
  font-weight: 800;
  font-size: 2.4rem;
  text-align: center;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  width: 100%;
  padding-inline: 0.5rem;
  padding-block: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(219, 170, 9);
  color: #f1f1f1;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0.2rem 2rem;
  font-size: 1.1rem;
  border-radius: 2px;
  margin-inline: auto;
  margin-top: 0.7rem;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.register {
  display: none;
}

span {
  display: flex;
  gap: 0.5rem;
  transform: translateY(-1rem);
}

.toggle {
  color: rgb(219, 170, 9);
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
}
